@import 'uview-ui/theme.scss';

.ml-20 { margin-left: 20rpx; }

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-space-between { justify-content: space-between; }
.flex-space-around { justify-content: space-around; }
.flex-align-center { align-items: center; }